@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html, body
{

    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    backdrop-filter: blur(2px) contrast(0.85);

}

*
{
    font-family: 'Manrope', sans-serif;
}

#welcome
{
    height: 500px;
    width: 600px;
    padding: 50px 0px;
    background-color: #000000b0;
    box-shadow: 0px 0px 37px 1px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#header
{
    width: 100%;
    background-color: #62deffd9;
    box-shadow: 0px 10px 50px #a9a9a9;
    position: fixed;
    top: 0px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profileContain
{
    display: flex;
    margin: 0px 50px;
    cursor: pointer;
}

#profileContain:hover
{
    background-color: #92deff;
    border-radius: 5px;
    transition-duration: 500ms;
}

#userOptions
{
    position: fixed;
    right: 55px;
    top: 80px;
    width: 200px;
    background-color: #000000b0;
    color: #ffffff;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
}

#userOptions > h3
{
    margin: 15px;
    cursor: pointer;
}

#userOptions > hr
{
    margin: 0px;
}

#signInForm
{
    height: 550px;
    width: 540px;
    padding: 50px 0px;
    color: #ffffff;
    background-color: #000000b0;
    box-shadow: 0px 0px 37px 1px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1
{
    font-weight: 900;
    margin: 20px 50px;
}

#signInForm>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signInForm>div>span, #warning
{
    height: 22px;
    color: red;
    margin-top: 10px;
}
#hLink
{
    color: #bfe1ff;
    text-decoration: none;
    cursor: pointer;
}

#hLink:hover
{
    text-decoration: underline;
    color: #62deff;
}

.sign
{
    width: 130px;
    font-size: 18px;
    margin: 20px 20px 0px;
}

input
{
    height: 45px;
    padding: 0px 25px;
    width: 270px;
    font-size: 1.15rem;
    font-weight: bolder;
    border-radius: 5px;
}

button
{
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    background: #bfe1ff;
    border-radius: 7px;
    border: none;
}

button:hover
{
    background-color: #ffdede;
    transition-duration: 100ms;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type = number]
{
  -moz-appearance: textfield;
}

*::-webkit-scrollbar
{
    display: none;
}

*
{
    scrollbar-width: none;
}




/*----- Style for signup form -----*/




#signupForm
{
    height: 700px;
    width: 570px;
    padding: 50px 0px;
    background-color: #000000b0;
    color: #ffffff;
    box-shadow: 0px 0px 37px 1px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#signupForm>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupForm>div>span
{
    height: 22px;
    color: red;
    margin-top: 5px;
}


/* --------- Dash board --------- */


#dashboard
{
    width: 1500px;
    height: 930px;
    margin-top: 140px;
    display: flex;
}

.manageSection
{
    width: 50%;
    margin: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 0px 20px;
}

.otherActions
{
    height: 60px;
    margin-bottom: 20px;
    display: flex;
}

.listSection
{
    height: 730px;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.actionButt
{
    font-size: 18px;
}

.actionSection
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid;
}

label, select
{
    font-size: 1.0rem;
    font-weight: bold;
}

select
{
    padding: 3px 6px;
}

.list
{
    height: 664px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details
{
    width: 96%;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid;
    display: flex;
}

.details:hover
{
    background-color: #92deff;
}

.listIcon
{
    height: 60px;
}

.removeButt
{
    font-size: large;
    background: #ff5555;
    padding: 0px 20px;
    margin: 5px 5px 5px 30px;
}

.popupBack
{
    position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.confirmBox
{
    padding: 50px 50px;
    background-color: #000000b0;
    color: #ffffff;
    box-shadow: 0px 0px 37px 1px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.confirmBox > div
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.confirmBox > div > button
{
    font-size: large;
    padding: 10px 20px;
}

.addDoc
{
    height: 700px;
    width: 570px;
    padding: 50px 0px;
    background-color: #000000b0;
    color: #ffffff;
    box-shadow: 0px 0px 37px 1px black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.addDoc>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addDoc>div>span
{
    height: 22px;
    color: red;
    margin-top: 5px;
}

.addDoc>div>button, .addDoc>button
{
    font-size: large;
    padding: 10px 20px;
}
